input[type=button], input[type=submit], input[type=reset]{
    background-color: #04AA6D;
    text-decoration: none;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border:  none;
    color: white;
}