
input[type=text]{
    justify-content: center;
    border: 5px solid #ccc; 
    -webkit-transition:0.5s;
    box-sizing: border-box;
    padding: 12px 15px;
    transition: 0.5s;
    width: 600px;
    height: 30px;
    padding-right: 50px;
    float: right;
  
}
#country{
    float: right;

}

input[type=button]{
    background-color:#04aa6d ;
    border: none;
    cursor: pointer;
    margin: 4px 2px;
    padding: 16px 32px;
    color: white;
    padding: 16px 20px;
   margin: 200px;
   float: right;
   
}
p{
    position: relative;
    color: rgb(9, 60, 136);
    padding-right: 50px;
    margin-top: 50px;
    text-align: center;
    
}
textarea{
    float: right;
}
select{
    border: none;
    padding: 16px 20px;
    width: 600px;
    border-radius: 4px;
    background-color: #f1f1f1;
}
textarea{
    border: none;
    padding: 16px 20px;
    width: 560px;
    border-radius: 4px;
    background-color: #f1f1f1;
    height: 100px;

}






